.App {
  text-align: center;
  font-family:'Comic Sans', cursive;
  padding:1vmin;
  margin: 1vmin;
}

/*** PENDU HEADER ***/
.pendu-header{
  height: 20vh !important;
  margin: auto;
}

.pendu-header p{
  margin: 60px 40px;
  font-size: 22px;
}

/*** PENDU BODY ***/
.pendu-body{
  display: flex;
  height: 70vh;
  width: 100%;
}

/*** Letters part ***/
.letters{
  padding-top: 100px;
  width: 200px;
  height: 80vh;
}

.selected{
  background-color: grey;
  color: honeydew;
}

/*** riddle part ***/
.pendu-riddle{
  margin: 0px auto ;
  width: 20vw;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  background-color: rgb(220, 0, 0);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.riddle {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  place-content: center;
  letter-spacing: .4rem;
  font-size: 2rem;
}

.avatar{
  margin-top: 25px;
  max-width: 200px;
  max-height: 240px;
}

/*** pendu part ***/
.pendu{
  padding-top: 40px;
  margin: auto auto;
  height: 560px;
  width: 680px;
  display: table;
}

.loose{
  margin: 0 auto;
  height: 560px;
  width: 680px;
  display: table;
  opacity: 0.5;
  /* position: absolute; */
}

.table{
  display: table-row;
}

.pendu-hidden {
  background-image:radial-gradient(circle, lightcoral, tomato);
  background-position: center;
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 1px solid white;
}

/* counter */

.counter {
  margin: auto;
  width: 100vw;
  height : 100%;
  background-color:rgb(220, 0, 0);
  color: whitesmoke;
}

.count-title {
  font-size: 40px;
  text-align: center;
}

.count-text {
  font-size: 10px;
  text-align: center;
  margin: 0;
}

/*** POP-UP ***/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: rgb(216, 6, 6);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}





/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .pendu-body{
    flex-wrap: wrap;
  }

  .pendu-header {
    height: 100% !important;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .pendu-body{
    flex-wrap: wrap;
  }

  .pendu-header {
    height: 100% !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .pendu-body{
    flex-wrap: wrap;
  }

  .pendu-header {
    height: 100% !important;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .pendu-body{
    flex-wrap: wrap;
  }

  .pendu-header {
    height: 100% !important;
  }
}